*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Lato',
        sans-serif;
    background-color: #efefef;
}

.custom_btn{
    right: 0;
    top: 0px;
    border: 0 4px 4px 0;
}

#template{
    display: flex;
    flex-wrap: wrap;
}

.custom_card{
    padding: 0;
    display: flex;
    justify-content: space-around !important;
    
}
img {
    vertical-align: middle;
    border-style: none;
    height: 34px;
    width: 76px;
    
}
